<h1>Join ME!!!!</h1>

<form action="<%= users_url %>" method="post">
    <label for="">Email:
        <input type="email" name="user[email]">
    </label>
    <br>
    <label for="">Password:
        <input type="password" name="user[password]">
    </label>
    <br>

    <input type="submit" value="huh???">
</form>