<!DOCTYPE html>
<html>
  <head>
    <title>Music App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
    h1 {color: blue;}
    </style>
  </head>

  <h1>hihihi</hi>

  <body>
  <% if logged_in? %>
    <form action='<%= session_url %>'  method="post">
      
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Logout">
    </form>


  <% else%>
    <a href="<%= new_user_url %>"> Sign Up </a>
    <a href="<%= new_session_url %>"> Login </a>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
